<h2>Nueva noticia</h2>

<div>
    <form (ngSubmit)="guardar()" [formGroup]="form">

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre de la fiscalía regional o especializada</mat-label>
                <input formControlName="NombreFiscaliaRegionalEspecializada" matInput/>
                <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tipo Fiscalia Regional o especializada</mat-label>
                <mat-select formControlName="catTipoFiscaliaID">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let tipoFiscalia of catTipoFiscalia" [value]="tipoFiscalia.id">{{tipoFiscalia.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field> 

            <mat-form-field appearance="outline">
                <mat-label>Nombre y número de agencia del ministerio público</mat-label>
                <input formControlName="NombreNumAgencia" matInput/>           
            </mat-form-field>    
            
            <mat-form-field appearance="outline">
                <mat-label>Tipo de agencia</mat-label>
                <mat-select formControlName="catTipoVialidadId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let tipoAgencia of catTipoAgencia" [value]="tipoAgencia.id">{{tipoAgencia.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field> 

            <mat-divider style="margin-bottom: 1rem;"></mat-divider>

            <mat-form-field appearance="outline">
                <mat-label>Tipo de vialidad</mat-label>
                <mat-select formControlName="catTipoVialidadId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let tipoVialidad of catTipoVialidad" [value]="tipoVialidad.id">{{tipoVialidad.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field> 

            <mat-form-field appearance="outline">
                <mat-label>Calle (Nombre de la vialidad)</mat-label>
                <input formControlName="Calle" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Colonia</mat-label>
                <mat-select formControlName="CatColoniaId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catColonia of catColonia" [value]="catColonia.id">{{catColonia.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>          
       
            <mat-form-field appearance="outline">
                <mat-label>Número Exterior</mat-label>
                <input type="number" min="0" oninput="validity.valid||(value='');" formControlName="NumeroExterior" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Número interior</mat-label>
                <input type="number"  formControlName="NumeroInterior" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Código postal</mat-label>
                <input type="number"  formControlName="CodigoPostal" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Localidad</mat-label>
                <input formControlName="Localidad" matInput/>           
            </mat-form-field>

            
            <mat-form-field appearance="outline">
                <mat-label>Municipio</mat-label>
                <mat-select formControlName="CatMunicipioId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catmunicipio of catMunicipio" [value]="catmunicipio.id">{{catmunicipio.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>  

            
            <mat-form-field appearance="outline">
                <mat-label>Entidad Federativa</mat-label>
                <mat-select formControlName="CatEntidadFederativaId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catentidad of catEntidadFederativa" [value]="catentidad.id">{{catentidad.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>  

            <mat-form-field appearance="outline">
                <mat-label>Latitud</mat-label>
                <input  type="number"  formControlName="Latitud" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Longitud</mat-label>
                <input type="number"  formControlName="Longitud" matInput/>           
            </mat-form-field>

            <mat-divider style="margin-bottom: 1rem;"></mat-divider>

            <div style="margin-bottom: 1rem;">                    
                <mat-label>En caso de no abrir carpeta de investigación, ¿se brindó algún tipo de atención? 
                </mat-label>
                <mat-radio-group formControlName="AbrirCarpeta" aria-label="Select an option">
                    <mat-radio-button value="1">Si</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>               
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Nombre del agente del ministerio publico responsable</mat-label>
                <input formControlName="NombreAgentesMPResponsable" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Identificador del agente del ministerio publico responsable</mat-label>
                <input formControlName="IdentificadorAgentesMPResponsable" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Medio de conocimiento de los hechos</mat-label>
                <mat-select formControlName="CatMedioConocimientoId">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catMedio of catMedioConocimiento" [value]="catMedio.id">{{catMedio.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>  
            
            <mat-form-field appearance="outline">
                <mat-label>Fecha de presentación de la denuncia o querella</mat-label>
                <input formControlName="FechaPresentacionDenunciaQuerella" matInput [matDatepicker]="picker"/>    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>   
            </mat-form-field>

            
            <mat-form-field appearance="outline">
                <mat-label>Hora de presentación de la denuncia o querella</mat-label>
                <input type="time" formControlName="HoraPresentacionDenunciaQuerella" matInput />  
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Autoridad que recibió la denuncia o querella</mat-label>
                <mat-select formControlName="CatAutoridadRecibioDenunciaQuerellaID">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catAutoridad of CatAutoridadRecDenun" [value]="catAutoridad.id">{{catAutoridad.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>  

            <div style="margin-bottom: 1rem;">                    
                <mat-label>¿Se inició carpeta de investigación? 

                </mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Si</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>               
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Tipo de atención</mat-label>
                <mat-select formControlName="CatTipoAtencionID">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catTipo of CatTipoAtencion" [value]="catTipo.id">{{catTipo.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field> 

            <mat-form-field appearance="outline">
                <mat-label>Número de atención</mat-label>
                <input  type="text"  formControlName="NumeroAtencion" matInput/>           
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha de inicio de la atención</mat-label>
                <input formControlName="FechaInicioAtencion" matInput [matDatepicker]="pickerFech"/>    
                <mat-datepicker-toggle matSuffix [for]="pickerFech"></mat-datepicker-toggle>
                <mat-datepicker #pickerFech></mat-datepicker>   
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha de conclusión de la atención</mat-label>
                <input formControlName="FechaConclusionAtencion" matInput [matDatepicker]="pickerCon"/>    
                <mat-datepicker-toggle matSuffix [for]="pickerCon"></mat-datepicker-toggle>
                <mat-datepicker #pickerCon></mat-datepicker>   
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Sentido de la conclusión de la atención</mat-label>
                <mat-select formControlName="CatSentidoConclusionAtencionID">
                    <mat-option >-----Seleccione----</mat-option>
                    <mat-option *ngFor="let catSentido of CatSentidoConclusion" [value]="catSentido.id">{{catSentido.nombre}}</mat-option>            
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button mat-flat-button color="primary" [disabled]="form.invalid" >
                Guardar Cambios
            </button>

            <a mat-stroked-button routerLink="/" > 
                Cancelar
            </a>
        </div>

    </form>

</div>
